.registerInfo-body-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
    gap: 0px;

    width: 100%;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.registerInfo-body-top{
    /* Frame 31 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0px;
    width: 100%;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.registerInfo-top-title{
    /* Frame 23 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-align: left;
    width: 100%;
    height: fit-content;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 0%;
    /* or 40px */

    color: #000000;




    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.registerInfo-underline {

    width: 100%;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.43);

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.registerInfo-body-bot{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0px;
    width: 100%;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.registerInfo-bot-title {
    /* Frame 33 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid black;
    background: rgba(0, 0, 0, 0.02);

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.registerInfo-bot-text {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;


}

.registerInfo-bot-line {
    /* Line 6 */

    margin: 0 auto;
    width: 8%;
    height: 0px;

    border: 1px solid #000000;
    transform: rotate(-90deg);


}

.registerInfo-bot-content {
    /* Frame 34 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    gap: 16px;

    width: 100%;
    height: fit-content;

    background: rgba(0, 0, 0, 0.02);

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.registerInfo-bot-buttonbox {
    /* Frame 35 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 5px;
    gap: 16px;

    width: 100%;
    height: 50%;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.registerInfo-bot-button {

    /* Auto layout */
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px 0px;
    gap: 10px;

    width: 20%;
    height: fit-content;

    background: rgba(95, 164, 255, 0.09);
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    /* or 26px */
    text-align: center;

    color: #000000;



}

.submit-rocket-img {
    /* Frame 44 */

    width: 34px;
    height: 56px;

    transform: rotate(17deg);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
