.join2-page-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 100%;
    min-width: 850px;
    height: 100%;

}

.join2-content-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0px;

    margin: 0 auto;
    width: 100%;
    height: 100%;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

}

.join2-subtitle {
    /* login_title_text */

    width: 60%;
    height: fit-content;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.join2-main-container {
    /* Frame 56 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 60%;
    height: 100%;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.join2-main-upper {

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 70%;

    border-width: 1px 0px;
    border-style: solid;
    border-color: #6B94FC;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.join2-main-lower {
    /* Frame 57 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 100%;
    height: 100%;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.join2-main-border {
    /* Frame 62 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: fit-content;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.join2-main-border-left {
    /* Frame 63 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;

    width: 35%;
    height: 100%;

    background: rgba(0, 0, 0, 0.06);
    border-width: 0px 1px 1px 0px;
    border-style: dashed;
    border-color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.join2-main-border-right {
    /* Frame 64 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px;

    width: 100%;
    height: 100%;

    border-bottom: 1px dashed #000000;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

}

.join2-left-text {

    width: 100%;
    height: fit-content;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    /* identical to box height, or 22px */

    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.join2-right-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;

    width: 100%;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}