.sidebar-container {
    width: 200px;
    background: white;
    border: 1px solid #ddd;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 상단 파란 헤더 */
.sidebar-header {
    background:  #1C57C0 url('../../styles/images/60-lines.png');
    color: white;
    padding: 20px;
    text-align: center;
}

.sidebar-main-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sidebar-sub-title {
    font-size: 11px;
    color: #888;
    line-height: 1.3;
}

/* 카테고리 섹션 */
.sidebar-section {
    border-bottom: 1px solid #eee;
}

.sidebar-category {
    padding: 15px 20px;
    background: #f9f9f9;
    font-weight: bold;
    font-size: 15px;
    display: flex;

    align-items: center;
    transition: background 0.2s;
}


.sidebar-sub-content {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 5px 25px 15px;
}

.sidebar-text {
    text-align: left;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.2s;
}

.sidebar-text:hover {
    color: #1C57C0;
}

.sidebar-text.active {
    color: #1C57C0;
    font-weight: bold;
}

/* 화살표 */
.arrow {
    font-size: 12px;
    transition: transform 0.2s ease-in-out;
}

.arrow.open {
    transform: rotate(180deg);
}
